{{ attach_library('employee_salary/employee_salary') }}


<div class="col-md-12">
	<div class="col-md-12">

		<div class="col-md-7">
			<div class="col-md-12">
				Nombre: <b>{{ employeeName }}</b>
			</div>
			<div class="col-md-12">
				Tipo Liquidación: <b>{{ employeeType }}</b>
			</div>
		</div>
		<div class="col-md-5">
			<div class="col-md-12">
				Desde: <b>{{ initialDate }}</b> Hasta: <b>{{ endDate }}</b>
			</div>
		</div>
	</div>
	<br> <br> <br>
	<div class="col-md-6">
		<div class="col-md-12">
			<h4>
				<b>Ingresos</b>
			</h4>
		</div>
		<div class="col-md-12">
			<div class="col-md-7">
				<div class="col-md-12">Salario:</div>
				<div class="col-md-12">Horas Extras:</div>
				<div class="col-md-12">Subsidio Transporte:</div>
			</div>
			<div class="col-md-5">
				<div class="col-md-12 values">
					$
					{{ salaryAmount|number_format(0, '.', ',') }}
				</div>
				<div class="col-md-12 values">
					$
					{{ workedAmount|number_format(0, '.', ',') }}
				</div>
				<div class="col-md-12 values">
					$
					{{ transportationAmount|number_format(0, '.', ',') }}
				</div>
			</div>
		</div>
		<br> <br> <br>
		<div class="col-md-12">
			<h4>
				<b>Deducciones</b>
			</h4>
		</div>
		<div class="col-md-12">
			<div class="col-md-7">
				<div class="col-md-12">Seguridad Social:</div>
			</div>
			<div class="col-md-5">
				<div class="col-md-12 values">
					$
					{{ securityAmount|number_format(0, '.', ',') }}
				</div>
			</div>
			<div class="col-md-7">
				<div class="col-md-12">Prestamos:</div>
			</div>
			<div class="col-md-5">
				<div class="col-md-12 values">
					$
					{{ totalDiscount|number_format(0, '.', ',') }}
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-7">
				<h3>
					<b>Total:</b>
				</h3>
			</div>
			<div class="col-md-5 values">
				<h3>
					<b>$ {{ totalAmount|number_format(0, '.', ',') }}</b>
				</h3>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<h4>
				<b>Detalle Horas Extras</b>
			</h4>
		</div>
		<div class="col-md-7">
			<div class="col-md-12">Diurna:</div>
			<div class="col-md-12">Nocturna:</div>
			<div class="col-md-12">Diurna Festiva:</div>
			<div class="col-md-12">Nocturna Festiva:</div>
		</div>
		<div class="col-md-5">
			<div class="col-md-12 values">
				{{ diurnalTime }}
			</div>
			<div class="col-md-12 values">
				{{ nocturnalTime }}
			</div>
			<div class="col-md-12 values">
				{{ holyDiurnalTime }}
			</div>
			<div class="col-md-12 values">
				{{ holyNocturnalTime }}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<h4>
				<b>Detalle Pagos</b>
			</h4>
		</div>
		{% for discount in  discounts %}
		<div class="col-md-12">
			<div class="col-md-7">
				{{ discount.description }}
			</div>
			<div class="col-md-5 values">
				$
				{{ discount.value|number_format(0, '.', ',')  }}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<br>
<br>
<div class="col-md-12" style="text-align: right;">{{ form }}</div>

